:root {
    --font-color-sub: #666;
    --bg-color: #f9fafb;
    --main-color: #323232;
    --main-lightcolor: #454545;
    --main-hardcolor: #212121;
    --main-focus: #3b82f6;
    --highligt: #8b5df6;
    --highligt-transparent: #8b5df685;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

body,
html {
    overflow-x: hidden;
    background-color: var(--bg-color);
    background-image: linear-gradient(#e5e7eb 1px, #0000 0),
        linear-gradient(90deg, #e5e7eb 1px, #0000 0);
    background-size: 100px 100px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a {
    color: unset;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex_col {
    display: flex;
    flex-flow: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid_text_center {
    justify-content: center;
    place-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text_center {
    text-align: center;
}

.all_c {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
}

.j_sb {
    justify-content: space-between;
    align-content: space-between;
}

.j_se {
    justify-content: space-evenly;
    align-content: space-evenly;
}

.j_sa {
    justify-content: space-around;
    align-content: space-around;
}

.j_c {
    justify-content: center;
    align-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.centrar_absolutoX {
    left: 50%;
    transform: translateX(-50%);
}

.centrar_absolutoY {
    top: 50%;
    transform: translateY(-50%);
}

.unselected,
.unselected * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.no_display {
    display: none;
}

.hidden {
    visibility: hidden;
}

button,
.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: var(--bg-color);
    background-color: var(--main-color);
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 0 var(--main-hardcolor);
    transition: none;
}

button:active,
.button:active {
    transform: translateY(3px);
    box-shadow: none;
    /* scale: 0.95; */
    background-color: var(--main-hardcolor);
}

header {
    gap: 1rem;
    padding: 1rem;
    flex-grow: .3;
}

header img {
    width: 100px;
}

.logo h1 {
    z-index: 1;
    margin: 0;
}

main {
    flex-grow: 1;
}

#login {
    gap: 1rem;
}

#login input {
    background-image: url(https://www.svgrepo.com/show/532363/user-alt-1.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 1rem;
    padding: 0.5rem;
    padding-left: 2.3rem;
    font-size: 1rem;
    border-radius: 2px;
    border: var(--main-color) 0.1px solid;
    transition: none;
}

input:focus {
    border-color: var(--highligt) !important;
    outline: var(--highligt-transparent) solid 3px;
}

.card {
    overflow: hidden;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.load_bar_animation {
    z-index: 0;
    background-color: #3b82f6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
}

.logo:hover .load_bar_animation {
    right: 0%;
}

.sections {
    gap: 0;
    padding: 0;
}

.sections > * {
    padding: 10px;
    width: 60px;
}

.sections section:nth-child(1),
.sections section:nth-child(2),
.sections section:nth-child(3) {
    flex-grow: 4;
}

.sections section:nth-child(4) {
    flex-grow: 1;
}

